div#error {
	font-size: larger;
	color: red;
}

.kbd {
	border: 0px solid black;
	-webkit-user-select: none;
}
.kbd div, .kbd span {
	margin: 0;
	padding: 0;
}
.kbd span {
	display: inline-block
}
.kbd span.keylabel {
	pointer-events: none;
}
.kbd .k span.keylabel {
	margin-top: 75px;
}
.kbd .w span.keylabel {
	margin-top: 6px;
	font-size: smaller;
	color: #888;
}
.kbd span.k {
	vertical-align: top;
}
.kbd span.w {
	vertical-align: top;
}
.kbd .w {
	background-color: white;
	transition: background-color 0.5s;
	color: black;
}
.kbd .w.is-down {
	background-color: pink;
	transition: background-color 0s;
}
.kbd .k.is-down {
	background-color: blue;
}
.kbd .k {
	background-color: black;
	width: 12px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	color: white;
}
.kbd .w.br {
	border-right: 1px solid black;
}
.kbd .w.bl {
	border-left: 1px solid black;
}
.kbd .w.up {
	width: 12px;
}
.kbd .w.up.bl.br {
	width: 20px;
}
.kbd .w.up.w1 {
	width: 11px;
}
.kbd .w.down {
	border-bottom: 1px solid black;
	width: 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
}
.kbd .up {
	height: 50px;
	border-top: 2px solid black;
}
.kbd .down {
	height: 25px;
}

#PANIC {
	font-size: 48px;
	float: right;
}

#vis-network {
	width: 678px;
	height: 400px;
	border: 1px solid lightgray;
	overflow: scroll;
	display: none;
}


.seven-seg {
	background: black;
	width: 20px;
	height: 40px;
	border: 2px solid black;
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.seven-seg span {
	position: absolute;
	border-color: #EE7;
	border-width: 4px;
	border-style: solid;
}
.positive .seven-seg span {
	border-color: #7D7;
}
.negative .seven-seg span {
	border-color: #F44;
}
.seven-seg span.m {
	width: 14px;
	height: 0px;
	left: 1px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.seven-seg .l, .seven-seg .r {
	width: 0px;
	height: 14px;
}
.seven-seg .l {
	left: 0px;
}
.seven-seg .r {
	left: 12px;
}
.seven-seg .t.m {
	border-bottom: none;
	top: 2px;
}
.seven-seg span.t.l {
	border-top-color: transparent;
	border-bottom-width: 2px;
	border-bottom-color: transparent;
	border-right: none;
	top: 3px;
}
.seven-seg span.t.r {
	border-top: 4px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: none;
	top: 3px;
}
.seven-seg .m.u {
	border-bottom-width: 2px;
	border-top: none;
	top: 16px;
}
.seven-seg .m.d {
	border-top-width: 2px;
	border-bottom: none;
	top: 18px;
}
.seven-seg .b.l, .seven-seg .b.r {
	border-top: 2px solid transparent;
	border-bottom: 4px solid transparent;
	top: 19px;
}
.seven-seg .b.l {
	border-right: none;
}
.seven-seg .b.r {
	border-left: none;
}
.seven-seg .b.m {
	border-top: none;
	top: 30px;
}

.seven-seg.null .t, .seven-seg.null .b, .seven-seg.null .m {
	display: none;
}
.seven-seg.d-0 .m.u, .seven-seg.d-0 .m.d {
	display: none;
}
.seven-seg.d-1 .t.l, .seven-seg.d-1 .t.m, .seven-seg.d-1 .m.u, .seven-seg.d-1 .m.d, .seven-seg.d-1 .b.l, .seven-seg.d-1 .b.m {
	display: none;
}
.seven-seg.d-2 .t.l, .seven-seg.d-2 .b.r {
	display: none;
}
.seven-seg.d-3 .t.l, .seven-seg.d-3 .b.l {
	display: none;
}
.seven-seg.d-4 .t.m, .seven-seg.d-4 .b.l, .seven-seg.d-4 .b.m {
	display: none;
}
.seven-seg.d-5 .t.r, .seven-seg.d-5 .b.l {
	display: none;
}
.seven-seg.d-6 .t.r {
	display: none;
}
.seven-seg.d-7 .t.l, .seven-seg.d-7 .m.u, .seven-seg.d-7 .m.d, .seven-seg.d-7 .b.l, .seven-seg.d-7 .b.m {
	display: none;
}
.seven-seg.d-9 .b.l {
	display: none;
}
.seven-seg.minus .t, .seven-seg.minus .b {
	display: none;
}


div.UI {
	display: inline-block;
}

.UIDial {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid black;
	color: grey;
	border-radius: 50%;
	background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, currentcolor 70%);
	/*
	box-shadow:
		inset -2px 2px 0px 0px rgba(#fff, 0.1),
		inset 2px -2px 0px 0px rgba(#111, 0.2),
		-5px 5px 5px 0px #111,
		-10px 10px 10px -5px #111,
		-20px 20px 20px -10px #111,
		-25px 25px 25px -10px #111;
	*/
	/*transform: rotate(120deg);*/
}
.UIDial::after {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 4px;
	height: 40%;
	margin-left: -1px;
	/*background: -webkit-linear-gradient(top, white 0%, black 100%);;*/
	background: black;
	border-radius: 1px;
	/*transition: all 200ms ease-in-out;*/
	/*transform: rotate(-45deg);*/
	/*transform-origin: -100% 50%;*/
	box-shadow: 1px -1px 0px 0px rgba(#111, 0.2);
	content: "";
}

.UIValue {
	text-align: right;
	display: inline-block;
	width: 40px;
	height: 20px;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,1);
	border-radius: 1px;
	overflow: hidden;
	white-space: nowrap;
	font-family: courier;
}

.UILED {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	color: #F00;
	background: -webkit-radial-gradient(center, ellipse cover, currentcolor 0%, rgba(0, 0, 0, 0.3) 80%);
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
}

.UIButton {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 1px 2px;
	border: 1px solid gray;
	border-radius: 4px;
	background: #EEE;
	color: black;
}
.UIButton:hover {
	background: #888;
}

.UIButton.on {
	color: red;
}

.UISpectrograph {
	width: 256px;
	margin: 0px 4px;
	height: 128px;
	border: 0px solid grey;
}


.layoutV {
	display: flex;
	flex-direction: column;
}

.layoutH {
	display: flex;
	flex-direction: row;
}

/*
@font-face {
    font-family: "FreeMonoTengwar";
    src: url("../font/FreeMonoTengwar-embedding.eot");
}
*/
@font-face {
    font-family: "FreeMonoTengwar";
    src: local("FreeMonoTengwar"),
    local("FreeMonoTengwar-embedding"),
    url("../font/FreeMonoTengwar-embedding.ttf") format("TrueType");
}

@font-face {
    font-family: "TengTel";
    src: url("../font/tengtelc.ttf") format("TrueType");
}

.bc_page {
	display: none;
}

html, body {
	height:100%;
}

nav.navbar {
	margin-bottom: 12px;
}

.left-side {
	overflow: scroll;
	height: 100%;
	padding: 12px;
	background: #EEEEEE;
}

.right-side {
	overflow: scroll;
	height: 100%;
	padding: 12px;
}

.body {
	height: 100%;
}


/*

.body {
    display: table;
}

.left-side {
    float: none;
    display: table-cell;
}

.right-side {
    float: none;
    display: table-cell;
}
*/

ul.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.list li {
	cursor: pointer;
	padding-left: 4px;
	padding-right: 4px;
}

ul.list li:hover {
	background: #CCC;
}

ul.list li.current {
	color: #FFF;
	background: #000;
}
